
<div *ngIf="cliente">
    <h2><span jhiTranslate="fratelliApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fratelliApp.cliente.razonSocial">Razon Social</span></dt>
        <dd>
            <span>{{cliente.razonSocial}}</span>
        </dd>
        <dt><span jhiTranslate="fratelliApp.cliente.telefono">Telefono</span></dt>
        <dd>
            <span>{{cliente.telefono}}</span>
        </dd>
        <dt><span jhiTranslate="fratelliApp.cliente.email">Email</span></dt>
        <dd>
            <span>{{cliente.email}}</span>
        </dd>
        <dt><span jhiTranslate="fratelliApp.cliente.cuit">Cuit</span></dt>
        <dd>
            <span>{{cliente.cuit}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cliente/'+ cliente.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
